@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

body {
    margin: 0;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Open Sans,Geneva,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #414141;
    background-color: #ECF0F1;
}

a {
    transition: 0.3s;
}
/**
 * Navbar
 */
.navbar-inverse {
    height: 75px;
}
.navbar-inverse > div {
    background-color: #1E3042;
}
.navbar-inverse,
.landing {
    background-color: #1E3042;
    border-color: #1E3042;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-nav > li.opt > a {
    padding: 15px 10px 5px 10px;
}
.navbar-nav > li.dl {
    margin-left: 10px;
}
.navbar-inverse {
    padding-top: 10px;
}
.navbar-inverse .active {
    border-bottom: 4px solid #3498DB;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.btn-warning,
.navbar-inverse .navbar-nav > li > a.btn-warning,
.navbar-inverse .navbar-nav > li > a.btn-warning:hover {
    background-color: #E74C3C;
    border-color: #E74C3C;
    padding: 10px;
    margin: 8px;
    line-height: 1.2;
    font-weight: bold;
    font-size: 12px;
}
a.navbar-brand,
a.navbar-brand:active {
    outline: 0;
}
/**
 * Landing
 */
.landing {
    padding: 50px;
    overflow: hidden;
}
.landing .container {
    position: relative;
}
.landing .jumbotron {
    background-color: transparent;
    color: #fff;
    padding: 50px;
    margin: 0;
}
section a {
    position: relative;
}
section a:hover {
    text-decoration: none;
}
section a:before {
    content: "";
    text-decoration: none;
    position: absolute;
    width: 100%;
    margin-top: 1px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #23527C;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
section a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


@media (max-width: 768px) {

    .landing {
        padding: 10px;
    }
    .landing .jumbotron {
        padding: 0;
    }
}
.landing .jumbotron h1 {
    text-align: left;
    margin-top: 80px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.landing .container img {
    position: absolute;
    right: 0;
    height: 400px;
    bottom: -130px;
}

/**
 * Divoder
 */
.divider {
    height: 5px;
    margin-bottom: 40px;
    line-height: 0;
    background-color: #3498DB;
    z-index: 20;
}

/**
 * Landing text
 */
.landing-text,
.landing-wide {
    margin: 0;
    padding: 80px 0;
}
.landing-text {
    background: #FFF none repeat scroll 0 0;
}


/**
 * text 
 */
.block {
    background-color: #1E3042;
    padding: 30px;
    color: #fff;
}
.block h2 {
    margin: 0 0 30px 0;
}
.block a,
.block a:hover {
    color: #fff;
    text-decoration: underline;
}

.features ul {
    padding-left: 80px;
}
.features ul li {
    position: relative;
    margin-bottom: 10px;
    min-height: 90px;
}
.features ul li .fa-fw {
    position: absolute;
    left: -70px;
}
@-webkit-keyframes refslide {
    0%   {top: 0;}
    70%  {top: -200%;}
    80%  {top: 0;}
    100% {top: 0;}
}
@keyframes refslide {
    0%   {top: 0;}
    70%  {top: -200%;}
    80%  {top: 0;}
    100% {top: 0;}
}

.references .media-left a {
    height: 200px;
    width: 200px;
    display: block;
    overflow: hidden;
    position: relative;
}
.references .media-left img {
    max-width: 200px;
    position: absolute;
}
.references .media-left img:hover {
    -webkit-animation-name: refslide;
            animation-name: refslide;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

/**
 *
 */
.update {
    background-color: #ECF0F1;
    padding: 30px;
    color: #000;
}
.update h2 {
    margin-top: 0;
}

/**
 * Footer
 */
.footer {
    background-color: #1E3042;
    padding: 30px;
    color: #fff;
}
.footer a,
.footer a:hover {
    color: #fff;
}

.landing-wide.link {
    margin-top: 10px;
    padding: 10px 0;
}
.landing-wide.link a,
.landing-wide.link a:hover {
    text-decoration: none;
    color: #000;
}

.landing-wide,
.landing-text {
    position: relative;
}
.landing-wide > a,
.landing-text > a {
    position: absolute;
    top: -60px;
    z-index: 1000;
    height: 1px;
    width: 1px;
    display: block;
}