
.navbar-inverse,
.landing {
    background-color: #1E3042;
    border-color: #1E3042;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-nav > li.opt > a {
    padding: 15px 10px 5px 10px;
}
.navbar-inverse {
    padding-top: 10px;
}
.navbar-inverse .focus {
    border-bottom: 4px solid #3498DB;
}

.btn-warning,
.navbar-inverse .navbar-nav > li > a.btn-warning:hover {
    background-color: #E74C3C;
    border-color: #E74C3C;
}
.landing {
    padding: 50px;
}
.landing .jumbotron {
    background-color: transparent;
    color: #fff;
    padding: 50px;
    margin: 0;
}
